[buildout]
extensions = mr.developer
parts =
    server
    packages
    code-analysis
    isort
    pytest

sources-dir = extras
sources = sources
auto-checkout =
    guillotina
    aioes

show-picked-versions = true

develop =
    .

versions = versions

[remotes]
# Plone
plone = git://github.com/plone
plone_push = git@github.com:plone
# Bloodbare
bloodbare = git://github.com/bloodbare
bloodbare_push = git@github.com:bloodbare

[sources]
guillotina = git ${remotes:plone}/guillotina.git pushurl=${remotes:plone_push}/guillotina.git
aioes = git ${remotes:bloodbare}/aioes.git pushurl=${remotes:bloodbare_push}/aioes.git

[server]
recipe = zc.recipe.egg
eggs =
    guillotina
    guillotina_elasticsearch

[packages]
recipe = collective.recipe.omelette
eggs = ${server:eggs}
packages = ./

[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/guillotina
multiprocessing = False
clean-lines = True
pre-commit-hook = False
clean-lines-exclue =
  *.egg-info/*
check-manifest = True
check-manifest-directory = ${buildout:directory}/
flake8-ignore = P001,P002,F401,T003,E251,Q000,C101,P101,T000,W292
flake8-max-complexity = 25
flake8-max-line-length = 100
flake8-extensions =
    flake8-blind-except
    flake8-coding
#    flake8-commas
    flake8-debugger
    flake8-deprecated
    flake8-isort
#    flake8-pep3101
    flake8-print
#    flake8-quotes
#    flake8-string-format
    flake8-todo
#    flake8_strict
    pep8-naming

[isort]
recipe = zc.recipe.egg
egg = isort

[pytest]
recipe = zc.recipe.egg
eggs =
    gocept.pytestlayer
    pytest
    pytest-cov
    guillotina[test]
    guillotina_elasticsearch[test]

[versions]
pytest-asyncio=0.5.0
