aioelasticsearch==0.5.2
aiohttp==3.5.4
appdirs==1.4.3
argon2-cffi==19.2.0
astroid==2.5.1
async-asgi-testclient==1.4.3
async-timeout==3.0.1
asyncpg==0.20.1
attrs==19.3.0
backoff==1.10.0
black==20.8b1
bleach==3.1.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coverage==5.0.3
cryptography==2.8
docker==4.2.0
docutils==0.16
elasticsearch==6.8.1
entrypoints==0.3
fancycompleter==0.9.1
flake8==3.7.9
guillotina==6.0.2
h11==0.9.0
httptools==0.1.1
idna==2.9
importlib-metadata==1.5.0
iniconfig==1.1.1
isort==5.7.0
jeepney==0.4.3
jsonschema==3.2.0
jwcrypto==0.7
keyring==21.1.1
lazy-object-proxy==1.5.2
lru-dict==1.1.6
mccabe==0.6.1
more-itertools==8.2.0
multidict==4.7.5
mypy-extensions==0.4.3
orjson==3.1.0
packaging==20.1
pathspec==0.8.0
pdbpp==0.10.2
pkginfo==1.5.0.1
pluggy==0.13.1
prometheus-client==0.9.0
psycopg2==2.8.6
psycopg2-binary==2.8.4
py==1.10.0
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.9.7
pyflakes==2.1.1
Pygments==2.5.2
PyJWT==1.7.1
pylint==2.7.2
pyparsing==2.4.6
pyrepl==0.9.0
pyrsistent==0.15.7
pytest==5.3.5
pytest-asyncio==0.10.0
pytest-cov==2.8.1
pytest-docker-fixtures==1.3.6
pytest-rerunfailures==8.0
python-dateutil==2.8.1
PyYAML==5.3
readme-renderer==24.0
regex==2020.4.4
requests==2.23.0
requests-toolbelt==0.9.1
SecretStorage==3.1.2
six==1.14.0
toml==0.10.2
tqdm==4.43.0
twine==3.1.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
ujson==1.35
urllib3==1.25.8
uvicorn==0.11.3
uvloop==0.14.0
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
wmctrl==0.3
wrapt==1.12.1
yarl==1.4.2
zest.releaser==6.20.1
zipp==3.0.0
zope.interface==4.7.1
